body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

h2 {
    color: #333;
}

label {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    color: #666;
    font-size: 16px;
    align-items: center;
}

input[type="text"],
input[type="email"],
button {
    width: calc(100% - 50px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.resultado {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.resultado p {
    width: 18%; /* Uma coluna com espaço entre elas */
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.resultado p span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.resultado p button {
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 4px;
    margin-top: 5px;
}

.resultado p button:hover {
    background-color: #005f6b;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination button {
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    border-radius: 4px;
}

.pagination button:hover {
    background-color: #005f6b;
}

.download {
    margin-top: 20px;
    background-color: #008cba;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

.download:hover {
    background-color: #005f6b;
}

@media (max-width: 1024px) {
    .resultado p {
        width: calc(33.33% - 15px); /* Três colunas com espaço entre elas */
    }
}

@media (max-width: 768px) {
    .resultado p {
        width: calc(50% - 15px); /* Duas colunas com espaço entre elas */
    }
}

@media (max-width: 480px) {
    .resultado p {
        width: 100%; /* Uma coluna ocupando toda a largura */
        margin-right: 0;
    }
}
